<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khaled.takequiz" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentHome"
            android:label="@string/title_activity_student_home"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.MainActivity" />
        </activity>
        <activity
            android:name=".DoctorHome"
            android:label="@string/title_activity_doctor_home"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.MainActivity" />
        </activity>
        <activity
            android:name=".QuizMaininfo"
            android:label="@string/title_activity_quiz_maininfo"
            android:parentActivityName=".StudentHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.StudentHome" />
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".Grapher"
            android:label="grapher" >
        </activity>
        <activity

            android:name=".Grouplayout"
            android:label="@string/title_activity_grouplayout"
            android:parentActivityName=".DoctorHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.DoctorHome" />
        </activity>
        <activity
            android:name=".Groups"
            android:label="@string/title_activity_groups" >
        </activity>
        <activity
            android:name=".StudentRegistration"
            android:label="@string/title_activity_student_registration" >
        </activity>
        <activity
            android:name=".GroupList"
            android:label="@string/title_activity_group_list" >
        </activity>
        <activity
            android:name=".QuizQuestionAnswerDoctor"
            android:label="@string/title_activity_quiz_question_answer_doctor"
            android:parentActivityName=".QuizMaininfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.QuizMaininfo" />
        </activity>
        <activity
            android:name=".SelectQuiz"
            android:label="@string/title_activity_select_quiz"
            android:parentActivityName=".StudentHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.StudentHome" />
        </activity>
        <activity
            android:name=".GroupList"
            android:label="@string/title_activity_group_list" >
        </activity>
        <activity
            android:name=".QuizQuestionAnswerDoctor"
            android:label="@string/title_activity_quiz_question_answer_doctor"
            android:parentActivityName=".QuizMaininfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.QuizMaininfo" />
        </activity>

        <activity
            android:name=".studentresult"
            android:label="Results"
            android:parentActivityName=".StudentHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.StudentHome" />
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:parentActivityName=".DoctorHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.Grouplayout" />
        </activity>
        <activity
            android:name=".Quizlist_DoctorActivity"
            android:label="@string/title_activity_quizlist__doctor" >
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="QuizActivity" >
        </activity>
        <activity
            android:name=".ListofQuiz"
            android:label="@string/title_activity_listof_quiz"
            android:parentActivityName=".DoctorHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.DoctorHome" />
        </activity>
        <activity
            android:name=".QuizActivityWarning"
            android:label="@string/title_activity_quiz_activity_warning" >
        </activity>
        <activity
            android:name=".QuizActivityFinish"
            android:label="@string/title_activity_quiz_activity_finish"
            android:parentActivityName=".StudentHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.khaled.takequiz.StudentHome" />
        </activity>
    </application>

</manifest>
